.left-container{
   width: 20%;
  top: 50px;
  height: calc(100% - 50px);
  position: sticky;

  padding: 10px 5px;
  .item{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 10px;
  }
  hr{
   margin-bottom: 10px;
  border: none;
   height: 0.5px;
   background-color: lightgray;
  }
}